<!--<div th:fragment="formulario_tarefas">-->
<!--    <h3>Nova Tarefa:</h3>-->
<!--    <form>-->
<!--        <div class="row">-->
<!--            <div class="form-group col-md-6 nopadding">-->
<!--                <label for="inputNome">Nome</label>-->
<!--                <input type="text" class="form-control" id="inputNome" placeholder="Nome">-->
<!--            </div>-->
<!--            <div class="form-group col-md-6 nopadding">-->
<!--                <label for="inputAssunto">Assunto</label>-->
<!--                <input type="text" class="form-control" id="inputAssunto" placeholder="Assunto">-->
<!--            </div>-->
<!--            <div class="form-group col-md-12">-->
<!--                <label for="inputDescricao">Descrição</label>-->
<!--                <input type="text" class="form-control" id="inputDescricao" placeholder="Descrição">-->
<!--            </div>-->
<!--            <div class="form-group col-md-8 nopadding">-->
<!--                <label for="inputUsuario">Usuário</label>-->
<!--                <input type="text" class="form-control" id="inputUsuario" placeholder="Usuário">-->
<!--            </div>-->
<!--            <div class="form-group col-md-4 nopadding">-->
<!--                <label for="inputDate">Data Validade</label>-->
<!--                <input type="date" class="form-control" id="inputDate">-->
<!--            </div>-->
<!--            <div class="form-group col-md-4 nopadding">-->
<!--                <button type="submit" class="btn btn-primary">Criar Tarefa</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->