<!--<div th:fragment="tabela" class="table-responsive">-->
<!--    <h3>Lista de Tarefas:</h3>-->
<!--    <table class="table table-striped table-bordered table-hover ">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--            <th>Nome</th>-->
<!--            <th>Assunto</th>-->
<!--            <th>Descrição</th>-->
<!--            <th>Data Vencimento</th>-->
<!--            <th>Funcionário</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--&lt;!&ndash;        <tr th:each="tarefas : ${tarefa}">&ndash;&gt;-->
<!--        <tr>-->
<!--&lt;!&ndash;            <td data-label="Nume" th:utext="${tarefa.nome}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td data-label="Assunto" th:text="${tarefa.assunto}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td	data-label="Descrição" th:text="${tarefa.descricao}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td	data-label="Data Vencimento" th:text="${tarefa.dataVencimento}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td	data-label="Funcinário" th:text="${tarefa.usuario.nome}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td data-label="Excluir">&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button" class="btn btn-danger btn-xs btn-block btn-active" >&ndash;&gt;-->
<!--&lt;!&ndash;                    <i	class="fa fa-trash"	style="cursor: pointer"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--            </td>-->
<!--                    <td data-label="Nome">Implementação JWT</td>-->
<!--                    <td data-label="Assunto">Segurança</td>-->
<!--                    <td	data-label="Descrição">Implementar segurança no sistema de impressão</td>-->
<!--                    <td	data-label="Data Vencimento"> 10/02/2021</td>-->
<!--                    <td	data-label="Funcinário">Pedro</td>-->
<!--                    <td data-label="Editar">-->
<!--                        <button type="button" class="btn btn-danger btn-xs btn-block btn-active" >-->
<!--                            <i	class="fa fa-trash"	style="cursor: pointer"></i>-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-primary btn-xs btn-block btn-active" >-->
<!--                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor: pointer"></i>-->
<!--                        </button>-->
<!--                    </td>-->
<!--        </tr>-->
<!--&lt;!&ndash;        <tr th:if="${tarefas.empty}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td	colspan="6"	class="bg-danger">Nenhum tarefa cadastrado.</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
