<!DOCTYPE html>
<html lang="en">
<head>
    <title>Não Autorizado</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
    <body>
    <h1>Você não tem acesso a essa página.</h1>
    <button type="button" class="btn btn-secondary"><a th:href="@{/funcionario}">Retornar pagina iniciar</a></button>
    <button type="button" class="btn btn-secondary"><a th:href="@{/logout}">Entrar com outro usuário</a></button>
    </body>
</html>
